.calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
    justify-content: flex-end;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.calendar-column {
    width: 13.5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendar-column:first-child .calendar-item--time{
    display: block;
}

.calendar-item {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    height: 120px;
    position: relative;
}

.calendar-item--time {
    position: absolute;
    left: -60px;
    top: calc(50% - 16px);
    width: 50px;
    display: none;
}

.calendar-item:first-child{
    height: 38px;
    text-align: center;
    padding: 10px;
}


.lesson-info {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #577f92;
    color: #fff;
}

.lesson-info.busy{
    background-color: #c3ac34;
}

.lesson-info h3{
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
}

.lesson-info p {
    line-height: 1.4;
    margin-bottom: 0;
}

.lesson-info p svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    filter: invert(1);
}

@media (max-width: 959px){
    .calendar-column{
        width: 95%;
    }

    .calendar-column .calendar-item--time{
        display: block;
    }
}